<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002466350109-v0h726t7cjfmg0gc8utcvjlhjodu37t0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002466350109-v0h726t7cjfmg0gc8utcvjlhjodu37t0</string>
	<key>API_KEY</key>
	<string>AIzaSyCtakBDJy5ncfWZHy68A6UK8rS0JYJu91w</string>
	<key>GCM_SENDER_ID</key>
	<string>1002466350109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dopfly.tingtong</string>
	<key>PROJECT_ID</key>
	<string>tingtong-007</string>
	<key>STORAGE_BUCKET</key>
	<string>tingtong-007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002466350109:ios:aa5ab58a2bd01272bfe2f4</string>
</dict>
</plist>